/*

Robert Warren
Term 1306
Advanced Scalable Data Infrastructures (ASD)
I Owe, I Owe * Bill List

Dropbox: https://www.dropbox.com/sh/03yhmwxv5pmms41/4XEl9oEfZ8
Github: https://github.com/grindnmosh/Warren_Robert_1304_MIU.git
URL: http://grind-design.com

*/
body {
	margin: auto;
}
h2 { 
	text-align: center;
}
p {
	text-align: center;
}
#quality {
	width: 275px;
	align: center;
}
#brand {
	width: 175px;
	text-align: left;
	margin: 0 20px;
}
.input {
	padding:6px;
	width:315px;
	border: 1px solid black;
}
.highlight {
	background-color: white;
	border: 4px solid blue;
}
dd {
	margin: 0;
	padding: 1em 0;
	background: lightblue;
}
dt{
	cursor: pointer;
	font-family: serif;
	color: white;
	font-style: normal;
	text-shadow: black;
	text-decoration: inherit;
	text-rendering: inherit;
	font-size: 1em;
	background: blue;
	border-bottom: light blue;
	border-top: light grey; 
}
dt:first-child {
	border-top: none;
}
dt:nth-last-child(2) {
	border-bottom: none;
}