/*

Robert Warren
Term 1306
Advanced Scalable Data Infrastructures (ASD)
I Owe, I Owe * Bill List

Dropbox: https://www.dropbox.com/sh/03yhmwxv5pmms41/4XEl9oEfZ8
Github: https://github.com/grindnmosh/Warren_Robert_1304_MIU.git
URL: http://grind-design.com

*/

h2 { 
	text-align: center;
}
p {
	text-align: center;
}
#quality {
	width: 275px;
	align: center;
}
#brand {
	width: 175px;
	text-align: left;
	margin: 0 20px;
}